<div class="card card container">
    <div >
        <div class="text-center fs-5 fst-italic bg-success p-2 text-dark bg-opacity-10  m-3">
            <h3> Tiket-ID</h3> 
            <h3> Tiket-</h3> 
       </div>
    </div>
    <div class="card-body">
        <table class="table table-bordered">
            <tr>
                <td class=" bg-success p-2 text-dark bg-opacity-10 w-25">Date de création</td>
                <td  class="w-25"> </td>
                <td class="bg-success p-2 text-dark bg-opacity-10 w-25">Par</td>
                <td class="w-25"><span></span></td>
               
            </tr>
            <tr>
                <td class=" bg-success p-2 text-dark bg-opacity-10 w-25">Dernière modification</td>
                <td  class="w-25">par <span></span> </td>
              
                <td class=" bg-success p-2 text-dark bg-opacity-10 w-25">Attribué à</td>
                <td  class="w-25"> <span></span> </td>
            </tr>
            <tr>
                <td class=" bg-success p-2 text-dark bg-opacity-10 w-25">Temps de prise en charge</td>
                <td  class="w-25"> </td>
                <td class=" bg-success p-2 text-dark bg-opacity-10 w-25">Temps de résoultion</td>
                <td  class="w-25"> </td>
              
                
            </tr>
            <tr>
                <td class=" bg-success p-2 text-dark bg-opacity-10 w-25">Date de résolution</td>
                <td  class="w-25"> </td>
                <td class=" bg-success p-2 text-dark bg-opacity-10 w-25">Date de fermeture</td>
                <td  class="w-25"> </td>
              
                
            </tr>
            <tr>
                <td class=" bg-success p-2 text-dark bg-opacity-10 w-25">Type</td>
                <td  class="w-25"> </td>
                <td class=" bg-success p-2 text-dark bg-opacity-10 w-25">Catégorie</td>
                <td  class="w-25">  </td>
              
                
            </tr>
            <tr>
                <td class=" bg-success p-2 text-dark bg-opacity-10 w-25">Impact</td>
                <td  class="w-25"> </td>
                <td class=" bg-success p-2 text-dark bg-opacity-10 w-25">Urgence</td>
                <td  class="w-25">  </td>
              
                
            </tr>
            <tr>
                <td class=" bg-success p-2 text-dark bg-opacity-10 w-25">Satut</td>
                <td  class="w-25"> </td>
                <td class=" bg-success p-2 text-dark bg-opacity-10 w-25">Source de la demande</td>
                <td  class="w-25">  </td>
              
                
            </tr>
            <tr>
                <td class=" bg-success p-2 text-dark bg-opacity-10 w-25">Description</td>
                <td colspan="3" class="w-25"> </td>
                
            </tr>
          </table>
    </div>
        