<div class="card mb-3 container " style="max-width: 60%;">
    <div class="row g-0">
      <div class="col-md-2">
        <div class="profil-image m-4">
            
            <i class="fas fa-user fa-5x "></i>
        </div>   
    
      </div>
      <div class="col-md-10">
        <div class="card-body ">
          <h4 class="card-title">Mon Profil</h4>
          <table class="table table-hover">
            <tr>
                <td >Nom :</td>
                <td></td>
            </tr>   
            <tr>
                <td >Prénom :</td>
                <td></td>
            </tr> 
            <tr>
                <td  >Email :</td>
                <td ></td>
            </tr>
            <tr>
                <td  >Téléphone :</td>
                <td ></td>
            </tr>  
            <tr>
                <td  >Adresse :</td>
                <td></td>
            </tr> 
       
      </table>
      
        </div>
      </div>
    </div>
  </div>
