
    <div class="card card container" >
        <div >
            <div class="text-center fs-5 fst-italic bg-success p-2 text-dark bg-opacity-10  m-3">
                <h3> Tiket-ID</h3> 
                <h3> Tiket-</h3> 
           </div>
        </div>
        <div class="card-body">
            <table class="table table-bordered border-secondary container">
  
                <tr>
                    <td>Société : .......</td>
                    <td colspan="2">Client : .... </td>
                </tr>
                 
                <tr>
                    <td colspan="3">Titre : .......</td>
                    
                </tr>
                <tr>
                    <td >Demandeur: .......</td>
                    <td colspan="2" > contrat :
                        <input type="radio" id="oui" >
                        <label for="oui">Oui</label>
                        <input type="radio" id="nom" >
                        <label for="non">Non</label>
                    </td>
                    
                </tr>
                <tr>
                    <td>Technicien : ...</td>
                    <td>Date/Heure : ....</td>
                    <td>Temps Passé : ...</td>
                </tr>
                <tr rowspan="3">
                    <td colspan="3">Descriptif de la mission : ....</td>
                </tr>
                <tr rowspan="3">
                    <td colspan="3">Commentaires  : ....</td>
                </tr>
                <tr>
                    <td>Fait à : ...</td>
                    <td>Remarque Client : ....</td>
                    <td>Signature Client : ...</td>
                </tr>
           <tr>
            <td >
              <div class="card-footer text-muted">
                <div class="text-center">
                   <button  onclick="window.print()" class="btn btn-outline text-dark  bg-success  bg-opacity-10" type="button"> <i class="fas fa-print"></i>&nbsp;Imprimer rapport</button>
                  </div>
              </div>
              </td>
              <td >
                <div class="card-footer text-muted">
                  <div class="text-center">
                     <button   class="btn btn-outline text-dark  bg-success  bg-opacity-10" type="button"> <i class="fas fa-envelope"></i>&nbsp;Envoyer rapport par mail</button>
                    </div>
                </div>
                </td>
                <td >
                    <div class="card-footer text-muted">
                      <div class="text-center">
                         <button  class="btn btn-outline text-dark  bg-success  bg-opacity-10" type="button"><i class="fas fa-download"></i>&nbsp;Télécharger rapport</button>
                        </div>
                    </div>
                    </td>
            </tr>
        </table>




